*~

# unversioned directories
build/
Release/
Debug/
log/
logs/
lib/
plot/

# IDE files
*.metadata/
*.codelite/
*.settings/
*.project
*.workspace
*.pydevproject
*.cproject
*.pyc
compile_commands.json


