*~

# unversioned directories
build/
log/
lib/
plot/nodecounting
plot/wagner
plot/lartastar
plot/randomwalk
plot/compass
plot/summary

# IDE files
*.metadata/
*.codelite/
*.settings/
*.project
*.workspace
*.pydevproject
*.cproject
compile_commands.json


