*~

# unversioned directories
build/
log/
lib/
plot/nodecounting
plot/wagner
plot/lartastar
plot/randomwalk
plot/compass

# IDE files
*.project
*.workspace
*.codelite/
compile_commands.json
*.metadata
*.pydevproject

